{% extends 'myapp/base.html' %}

{% block content %}
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,400' rel='stylesheet' type='text/css'>


<style type="text/css">

        body{
        	font-family: 'Josefin Sans', sans-serif;
    	}
    	.cont{
    		margin-left:1em;
    	}
</style>


<br><br><br><br>

<div class ="container">
	<h3> [{{kind}}] {{title}} </h3>
	<h4 class= "cont">{{content}}</h4>
	<br>
	<a href="/topictree/slug/stories-and-literature" class="btn btn-primary btn-lg" role="button">Back to top</a> 
</div>
{% endblock %}