{% extends 'myapp/base.html' %}

{% block content %}
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,400' rel='stylesheet' type='text/css'>


<style type="text/css">

        body{
        font-family: 'Josefin Sans', sans-serif;
    }
    .jumbotron{
    	margin-top:3.7em;
    }



</style>
	<div class="jumbotron">
<div class = "row">
	<div class ="col-md-2">
		  <h2>Hello Welcome to my <h2> <br>

		  <a href="/topictree/slug/stories-and-literature" class="btn btn-primary btn-lg" role="button"><h1>Topic Tree</h1></a>  



	</div>

	<br><br>
<p>Created by: <a href="www.imranhassanali.com">Imran Hassanali</a> </p>

	

</div>
{% endblock %}