{% extends 'myapp/base.html' %}

{% block content %}
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,400' rel='stylesheet' type='text/css'>


<style type="text/css">

        body{
        font-family: 'Josefin Sans', sans-serif;
    }
    .jumbotron{
    	margin-top:3.7em;
    }



</style>
	<div class="jumbotron">
<div class = "row">
	<div class ="col-md-2">
		  <h2>Hello Welcome to my <h1>Topic Tree</h1> </h2> 
	</div>	  
	<div class ="col-md-7 col-xs-8">
		

    </div>
    <div class ="col-md-3 col-xs-12">

		  <a href="/topictree/slug/stories-and-literature" class="btn btn-primary btn-lg" role="button">Topic Tree</a>  



	</div>

	

</div>
{% endblock %}